<h2>List of ratings</h2>
<table>
  <tr>
    <th>Rating</th>
    <th>Author</th>
  </tr>
  <% @ratings.each do |rating| %>
    <tr>
      <td>
        <%= rating %>
      </td>
      <td>
        <% if u = rating.user %>
          <%= link_to u.username, u %>
        <% end %>
      <td>
    </tr>
  <% end %>
  </tr>
</table>
<p>
Users have given <%= @ratings.count %> ratings so far!
</p>
<%= link_to 'New rating', new_rating_path %>