<h2>Top Beers</h2>
<%= render 'list', array:@best_beers, columns:[:name, :brewery, :average_rating] %>

<h2>Top Breweries</h2>
<%= render 'list', array:@best_breweries, columns:[:name, :year, :average_rating] %>

<h2>Most recent ratings</h2>
<%= render 'list', array:@recent_ratings, columns:[:beer, :score, :user] %>

<%= link_to 'New rating', new_rating_path %>