

<h2>
  <%= @style.name %>
</h2>

<quote>
  <%= @style.description %>
</quote>

<p>
  <strong>Beers of this style</strong>
  <ul>
    <% @beers.each do |b| %>
      <li><%= link_to b.name, b %></li>
    <% end %>
  </ul>
</p>

<%= edit_and_destroy_buttons(@style) %>

